.vs
x64
Release/
Debug/
coverage_report
*.aps
*.user
*.obj
*.pch
*.tlog
*.lastupdate
*.bak
doc/help.html
plantuml-images/
packages/
*.zip
tags
packages.config
externals/
doc/manuals/build/
doc/manuals/source/image/
*.mo
*.doctree
*.pickle

